---
Checks: "-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -google-build-using-namespace,
  -google-explicit-constructor,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-equals-default,
  -modernize-use-override,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -performance-unnecessary-value-param,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-smartptr-get,
  -readability-simplify-boolean-expr"
HeaderFilterRegex: '.*'
WarningsAsErrors: ''
...
